---
const {text, href} = Astro.props
---

<a href={href} class="flex items-center gap-1 overflow-hidden py-2 hover:text-[var(--secundary-ligth)] duration-300 font-semibold w-[max-content] cursor-pointer">
    {text}
    <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 21c.5 -4.5 2.5 -8 7 -10" /><path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" /></svg>
</a>

<style>
    svg {
        transform: translateX(-150%) scale(0);
        transition: transform 300ms;
        stroke: var(--secundary-ligth);
    }
    a:hover svg {
        transform: translateX(0) scale(1);
    }
</style>