---
import Layout from "../layout/Layout.astro";
import NavPlants from "../components/NavPlants.astro"
import HeroPlants from "../components/HeroPlants.astro"
import ServicesPlants from "../components/ServicesPlants.astro"
import AboutUsPlants from "../components/AboutUsPlants.astro"
import ContactPlants from "../components/ContactPlants.astro"
import FooterPlants from "../components/FooterPlants.astro"
---

<Layout title="Plants Web">
	<main class="relative">
		<NavPlants />
		<HeroPlants />
		<ServicesPlants />
		<AboutUsPlants />
		<ContactPlants />
		<FooterPlants />
	</main>
</Layout>