---

---

<section id="about" class="fadeIn grid h-full max-h-[48rem] w-full py-10 md:p-0 md:grid-cols-2 overflow-hidden">
    <img class="w-full md:h-full md:w-auto aspect-video md:aspect-square object-cover object-center" src="/nature.webp" alt="alt pic">
    <div class="about-text w-[90%] md:grid md:place-content-center mx-auto">
        <h2 class="text-center md:text-left pt-[7%] md:pt-0 text-xl font-semibold">ABOUT</h2>
        <span class="block h-[2px] w-[10%] max-w-20 bg-[var(--primary-ligth)] rounded-2xl mt-[3%] mb-[7%] md:mb-[5%] mx-auto md:mx-0"></span>
        <p class="text-pretty lg:pr-[15%]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident natus recusandae autem ipsam a fuga, dicta sapiente ad adipisci cumque atque itaque voluptate error laboriosam corporis blanditiis voluptas ab aperiam temporibus, quo, ea obcaecati vitae. Quos voluptate facilis dolores alias iusto placeat iste nesciunt qui reiciendis labore. Ex, ducimus iste nulla totam rerum repudiandae modi fuga obcaecati consectetur omnis culpa.</p>
    </div>
</section>
<style>
    .about-text {
        grid-auto-rows: auto;
    }
</style>