---

---

<form id="contact" action="post" class="h-80 md:h-[30rem] w-full grid px-[5%] content-center bg-[var(--nav-bg)] md:justify-items-center">
    <h3 class="text-center font-semibold text-xl">SUBSCRIBE</h3>
    <p class="my-4 text-center">Sign-up to our newsletter</p>
    <input class="py-4 px-5 w-full max-w-[30rem] text-center rounded focus:outline-[var(--primary-ligth)]" type="email" name="email" id="emailForm" placeholder="Your email">
    <button class="py-4 md:py-2 px-5 md:px-10 mt-4 border-2 border-[var(--primary-ligth)] active:scale-90 duration-300 font-semibold rounded">SUBMIT</button>
</form>

<!--type="submit" -->

<style>
    button {
        letter-spacing: 0.25rem;
    }
</style>