---

---

<script>
    const navLogo = document.getElementById('nav-logo');
    const textLogo = document.getElementById('text-logo');
    const btnOpen = document.getElementById('btn-open');
    const btnClose = document.getElementById('btn-closed');
    const menu = document.getElementById('menu');
    const inputs = document.querySelectorAll('.nav-link')

    const openMenu = () => {
        navLogo.style.stroke = "var(--bg-ligth)";
        textLogo.style.color = "var(--bg-ligth)";
        btnOpen.style.transform = "scale(0)";
        btnClose.style.stroke = "var(--bg-ligth)";
        btnClose.style.transform = "scale(1)";
        menu.style.transform = "translateY(0)";
    }

    const closeMenu = () => {
        navLogo.style.stroke = "var(--primary-ligth)";
        textLogo.style.color = "var(--primary-ligth)";
        btnOpen.style.transform = "scale(1)";
        btnClose.style.stroke = "var(--primary-ligth)";
        btnClose.style.transform = "scale(0)";
        menu.style.transform = "translateY(-100%)";
    }

    btnOpen.addEventListener('click', openMenu);
    btnClose.addEventListener('click', closeMenu);

    inputs.forEach(input => {
        input.addEventListener('click', ()=>{
            if ( window.innerWidth < 768 ) {
                closeMenu()
            }
        })
    })

    window.addEventListener('resize', ()=>{
        if ( window.innerWidth < 768 ) {
                closeMenu()
            }
        else {
            menu.style.transform = "translateY(0)"
        }
    })

</script>

<nav class="h-20 w-full bg-[var(--nav-bg)] fixed md:absolute top-0 z-40">
    <div class="h-full w-full md:w-4/5 max-w-[1280px] mx-auto flex items-center md:justify-between">
        <div class="flex items-center z-30 fixed md:static left-[5%] md:left-0">
            <svg id="nav-logo" class="duration-300" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" /><path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" /><path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" /><path d="M12 15l0 -6" /></svg>
            <strong id="text-logo" class="text-xl duration-300">LOGO</strong>
        </div>
        <ul id="menu" class="sticky md:static h-screen md:h-full w-full md:w-[max-content] bg-[var(--primary-ligth)] md:bg-transparent text-[var(--bg-ligth)] inset-0 m-auto z-20 grid md:flex place-content-center md:items-center [&>a]:md:active:bg-none gap-4 duration-300 font-semibold text-center text-3xl [&>a]:md:text-lg [&>a]:md:font-normal [&>a]:py-2 [&>a]:px-20 md:[&>a]:p-0 [&>a]:rounded md:rounded-none [&>a]:duration-300 [&>a]:md:cursor-pointer md:m-0">
            <a class="nav-link" href="#home">Home</a>
            <a class="nav-link" href="#services">Services</a>
            <a class="nav-link" href="#about">About Us</a>
            <a class="nav-link" href="#contact">Contact</a>
        </ul>
        <div class="grid grid-cols-1 grid-rows-1 z-30 fixed right-[5%] md:hidden">
            <svg id="btn-open" class=" col-start-1 col-end-2 row-start-1 row-end-2" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8l16 0" /><path d="M4 16l16 0" /></svg>
            <svg id="btn-closed" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" col-start-1 col-end-2 row-start-1 row-end-2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M9 9l6 6m0 -6l-6 6" /></svg>
        </div>
    </div>
</nav>

<style>
    nav {
        animation: sticky-menu linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 12.5rem;
    }
    strong{
        color: var(--primary-ligth);
    }
    #menu{
        transform: translateY(-100%);
    }
    ul a:active {
        background: rgb(255, 255, 255, 0.2);
    }
    #btn-closed, #btn-open {
        grid-column: 1/2;
        grid-row: 1/2;
        transition: transform 300ms;
        color: var(--primary-ligth);
    }
    #btn-open{
        transform: scale(1);
    }
    #btn-closed{
        transform: scale(0);
    }
    @keyframes sticky-menu {
        to {
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(0.25rem);
        }
    }
    @media (width >= 768px) {
        #menu {
            transform: translateY(0);
            color: var(--primary-ligth);
        }
        #menu a:hover {
            color: var(--secundary-ligth);
        }
        #menu a:active {
            background: none;
        }
    }
</style>